* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	/* background: #333; */
	background: #ffffff;
    overflow: auto;
}

header {
    width: 100%;
    position: absolute;
    z-index: 3;
}

header nav {
	float: right;
	margin-right: 3em;
}

nav {
	position: relative;
	display: block;
}

div .container {
    margin: 0 auto;
    width: 90%;
    max-width: 1600px;
}

/* Main Menu */
#main-nav a {
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 0.875em;
    text-decoration: none;
    padding: 1em 1.2em;
    margin-top: 1em;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-bottom: 3px solid transparent; 
}

#main-nav ul {
    display: block;
    list-style: none;
}

#main-nav li {
    float: left;
    display: block;
}

#main-nav a:hover {
    border-bottom: 3px solid #f04;
}

#logo {
    display: block;
    text-indent: -9999em;
    width: 30%;
    height: 100px;
    background: url(../img/rsb-webdesign-logo.png) no-repeat;
    background-size: 300px 70px;
    margin: 0.9375em 0 0.9375em 5em;
    float: left;
    position: absolute;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#logo:hover {
    -webkit-transform: scale(1.1) rotate(0deg) translate(0, 0) skew(0deg, 0deg);
    -moz-transform: scale(1.1) rotate(0deg) translate(0, 0) skew(0deg, 0deg);
    -o-transform: scale(1.1) rotate(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: scale(1.1) rotate(0deg) translate(0, 0) skew(0deg, 0deg);
}

/* Side Menu */ 
.open-slide {
	display: none;
}

.side-nav {
	display: none;
}

/* Section */
.landing {
	position: relative;
	background-image: url('../img/coming-soon.jpg') !important;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.landing-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.7);
	text-align: center;
	padding-top: 8%;
}

.landing h1 {
	font-size: 50px;
	padding-top: 7%;
	text-shadow: 1px 1px #000000;
}

.landing img {
	width: 45%;
}

.landing p {
	font-size: 25px;
	padding: 0px 25px 35px;
	margin: 10px auto;
	width: 65%;
}

.landing a {
	color: #ffffff;
}

.fab, .fas {
	padding: 0 15px;
	font-size: 50px;
}

/* About Me */
section.about {
    background-color: #ffffff;
    border: none;
    padding: 3em 5%;
    height: 450px;
}

.row {
    clear: both;
    max-width: 1040px;
    margin: 0 auto;
}

.col-7 {
	width: 55%;
	height: 300px;
	background-color: #ffffff;
	float: left;
    margin: 0 3% 0 0;
    list-style: none;
    position: relative;
}

#text-main {
	color: #000000;
	text-align: center;
	font-size: 24px;
}

#text-main h2 {
	font-size: 26px;
}

#text-main p {
	font-size: 15px;
	line-height: 1.7em;
}

.col-5 {
	width: 40%;
	height: 300px;
	background-color: #ffffff;
	float: left;
    list-style: none;
    position: relative;
}

#img-main img {
	width: 100%;
}

/* Footer */
footer {
	display: block;
}

footer .container {
    margin-right: auto;
    margin-left: auto;
    padding: 70px 0;
    width: 960px;
}

footer a {
	color: #ffffff;
}

.mast.mast-dark, .mast.mast-dark-trans {
    background: #39373a;
    color: #FFF;
}

.mast {
    text-align: center;
}

h3.h2 {
    position: relative;
    font-size: 24px;
}

h3.h2:before {
    position: absolute;
    top: 50%;
    display: block;
    width: 30%;
    border-bottom: 5px solid rgba(255, 0, 68, 0.7);
    content: "";
}

h3.h2:after {
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    width: 30%;
    border-bottom: 5px solid rgba(255, 0, 68, 0.7);
    content: "";
}

@media screen and (max-width: 1024px) {
.landing h1 {
	font-size: 40px;
 }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
#logo {
 	width: 30%;
 	background-size: 200px 70px;
 	margin-left: 2em;
  }
}

@media screen and (max-width: 768px) {
.open-slide {
	display: block;
	float: right;
	padding-top: 1.6em;
	margin-right: 2em;
}

.side-nav {
	display: block;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	opacity: 1;
	overflow-x: hidden;
	padding-top: 60px;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

 .side-nav a {
 	padding: 10px 10px 10px 30px;
 	text-transform: uppercase;
 	text-decoration: none;
 	font-size: 18px;
 	color: #ccc;
 	display: block;
 	-webkit-transition: 0.3s;
 	-moz-transition: 0.3s;
 	-o-transition: 0.3s;
 	transition: 0.3s;
}

.side-nav a:hover {
 	color: #f04;
}

.side-nav .btn-close {
 	position: absolute;
 	top: 0;
 	right: 22px;
 	font-size: 36px;
 	margin-left: 50px;
}

#main {
	transition: margin-right 0.5s;
 	overflow: hidden;
 	padding: 20px;
}

#main-nav {
 	display: none;
}

#logo {
 	display: block;
 	width: 30%;
 	background-size: 230px 70px;
 	margin-left: 2em;
}

.landing h1 {
	font-size: 30px;
}

.landing p {
	font-size: 20px;
	width: 80%;
}

.fab, .fas {
	font-size: 35px;
  }
}

@media screen and (max-width: 650px) {
#logo {
 	width: 70%;
 	background-size: 250px 70px;
}

.landing {
	height: 140vh;
	overflow: auto;
}

.landing-inner {
	height: 100%;
}

.landing span.title {
	font-size: 40px;
	width: 60%;
}

.landing img {
	width: 80%;
}

.landing h1 {
	font-size: 25px;
}

.landing p {
	width: 85%;
	font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
#logo {
 	width: 70%;
 	background-size: 225px 50px;
}

#main {
	width: 100%;
}

.landing {
	height: 100vh;
	overflow: auto;
}

.landing-inner {
	height: inherit;
    padding-top: 8%;
}

.landing h1 {
	font-size: 20px;
	margin-top: 40px;
}

.fab, .fas {
	font-size: 30px;
 }
}

@media screen and (max-width: 375px) {
#logo {
 	width: 70%;
 	background-size: 200px 50px;
}

.landing {
    background-image: url('../img/coming-soon-mobile.jpg') !important;
    background-size: cover;
    height: 120vh;
}

.fab, .fas {
	font-size: 25px;
  }
}

/**
 * ----------------------------------------
 * animation bounce
 * ----------------------------------------
 */

.bounce-top:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

/* Timeline */

.about-timeline {
  padding: 3em 5%;
}

.about-timeline #h2 {
	text-align: center;
	color: #000000;
  font-size: 30px;
  font-weight: 600;
  padding: 30px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #000000;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container-timeline {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  z-index: 2;
}

/* The circles on the timeline */
.container-timeline::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #a9a9a9;
  border: 4px solid #f04;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #000000;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #000000;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #000000;
  border-width: 10px 10px 10px 0;
  border-color: transparent #000000 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #000000;
  position: relative;
  border-radius: 6px;
  text-align: center;
}

.content h2 {
  font-size: 18px;
}

.content h3, .content span {
  font-size: 16px;
}

.content span {
  padding-bottom: 20px;
}

.content p {
  font-size: 14px;
  padding-top: 20px;
  border-top: 1px solid #ffffff;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container-timeline {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container-timeline::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}